

/*-- download-top --*/



body {
    background-color: #efefef;
}

.download-top-grid {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom:10px;
}

.download-top-grid h3 {
    border-bottom: 2px solid #ed5c5c;
    padding-bottom: 7px;
}


.download-top-grid ul{
	padding:0;
	margin-top:0px;;
}



.download-top-grid ul li{
	list-style-image: url(~/Image/mediaimpress/arw.png);
  	margin: 15px 80px;

}

.download {
    color: #ed5c5c; 
    margin-left: 20px; 
    font-size: 20px;
}


.download:hover{
	color:#a2a876;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.download-top-grid ul li a{
    color: black;
  	font-size: 18px;
  	font-weight: 400;
}

.download-top-grid ul li a:hover{
	color:#a2a876;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

.nunc-bwn {
    margin: 20px 0px 30px 10%;
    float: right;
    padding-right: 20px;
}

.nunc-bwn a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #e45c5f;
    padding: 6px 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.nunc-bwn a:hover {
    text-decoration: none;
    color: #fff;
    background: #999;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}


.nunc-bwn a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #e45c5f;
    padding: 6px 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.nunc-bwn a:hover {
    text-decoration: none;
    color: #fff;
    background: #999;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}



/*-- //download-top --*/
