.search_form {
    margin-top:10px;
    margin-bottom:10px;
}
.search_form table{
    text-align:center;
}

/* pagination */
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 16px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}


/*-----------*/
.managerInfo {
    width:95%;
    margin:auto;
    margin-top:10px;
}
.managerInfo table{
    width:100%;
}

.managerInfo img{
    width:80px;
}
#menu_ul a{
    font-size:20px;
    text-align:center;
}
