@{
    ViewBag.Title = "基层工作详情页";
}

<link href="@Url.Content("~/Content/pagecss//frontpagecss/newscss/newsdetail.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/pagecss//frontpagecss/newscss/newsdetailred.css")" rel="stylesheet" type="text/css" media="all" />

<!-- Wrapper Start -->
<div id="outer_wrapper">
    <!-- Content Section Start -->
    <div id="contentsec">
        <div class="inner">
            <div class="twothird left">
                <!-- Two Third Box Start -->
                <div class="twothird box left">
                    <h2 class="widget-head-border colr"><b>青海西宁城西强化基层基础工作推进派出所正规化建设</b></h2>
                    <div class="blog">
                        <!-- Blog Post Start -->
                        <div class="post">
                            <div class="p-date">
                                <span>18</span>
                                <span>2016.08</span>
                            </div>
                            <div class="post-sec">
                                <div class="thumb" style="text-align:center">
                                    <a href="#">
                                        <img src="@Url.Content("~/Image/news/菲律宾总统.jpg")" alt="" /></a>
                                </div>
                                <div class="post-desc">
                                    <p>
                                        中国警察网讯 为进一步强化基层基础建设，青海省西宁市公安局城西分局在持续推进“服务基层、服务实战、服务民警”10项工作举措的基础上，以此为契机，广泛听取基层所队意见和建议，全面夯实基层基础建设，强化派出所正规化管理，从多角度强化工作措施，完善规章制度，为2016年各项重点工作奠定了基础。
                                    </p>
                                    <p>
                                        强化组织领导，细化责任任务。为全面推进2016年基层基础建设工作组织有力、措施得当、落到实处，由分局党委领导班子牵头，各党委成员分管连点一个派出所，进一步明确连点领导、派出所所长任务目标，要求各领导每周至少对连点派出所督导检查一次，对存在的不足、不实等现象要及时督促整改，分局督查和户政大队将不定期联合对派出所基层基础工作进行随机抽查，如发现问题，对派出所领导视情形予以处罚，连点责任领导要在分局党委会做书面检查，情节严重的，对连点局领导予以相应处罚。通过此举，有效推进了基层基础工作的组织与实施。
                                    </p>
                                    <p>
                                        完善各项制度，细化目标考核。为有效推进各项工作的规范性、准确性和时效性，分局进一步完善了《城西分局基础信息采集录入奖惩办法》、《2015年城西分局加强基层基础工作措施》以及《推进派出所基层基础工作的十项规定》，建立了周调度、月推进和周通报等制度，即：每周一调度、每月一小结，以及工作进展情况每周一通报。并且将基础工作指标任务完成情况，以定期通报为考评依据，结合市局下达全年目标任务情况，将此项工作与全年政绩挂钩，作为年终各单位评先创优的重要依据，切实提高各派出所对此项工作的重视程度。
                                    </p>
                                    <p>
                                        目标任务“减负”，确保工作实效。为进一步夯实公安基层基础工作规范化建设，确保派出所民警能投入更多时间和精力认真开展基层基础工作任务，分局党委多次组织召开专门会议，在反复研究全面落实重点工作任务具体措施的同时，严格按照市局的部署要求，紧密结合分局基层基础建设实际情况，力求找出基础工作薄弱环节，突出重点，确保实效。同时，为确保一线民警能尽职尽责、认真做好基层基础工作，有效服务辖区群众。分局党委研究决定，对经侦、禁毒等相应业务年度目标任务不再对各派出所分解指标，使派出所民警尽量保持精力，认真落实好基层基础工作各项任务。
                                    </p>
                                    <p>
                                        目标任务“减负”，确保工作实效。为进一步夯实公安基层基础工作规范化建设，确保派出所民警能投入更多时间和精力认真开展基层基础工作任务，分局党委多次组织召开专门会议，在反复研究全面落实重点工作任务具体措施的同时，严格按照市局的部署要求，紧密结合分局基层基础建设实际情况，力求找出基础工作薄弱环节，突出重点，确保实效。同时，为确保一线民警能尽职尽责、认真做好基层基础工作，有效服务辖区群众。分局党委研究决定，对经侦、禁毒等相应业务年度目标任务不再对各派出所分解指标，使派出所民警尽量保持精力，认真落实好基层基础工作各项任务。
                                    </p>
                                    <p>
                                        实施经费“包干”，保障落实到位。为确保各项工作任务做细、做实，推进基层派出所各项工作有效开展，分局结合派出所工作实际，进一步创新管理措施，采取年度工作经费按民警编制数“包干”制度，实行经费支出“保障好、账目清、去向明、审批严”的工作机制，确保各项工作任务经费保障到位，推进公安派出所各项业务工作效能显著提高,为2016年经费保障工作奠定了基础。
                                    </p>
                                    <p>
                                        强化巡防管控，发案持续下降。自2014年12月分局成立了巡警大队，全面加强了辖区巡逻防控工作，每天由巡警大队和各派出所共13辆巡逻车60余名警力24小时不间断开展街面巡防工作，要求每个巡逻组每天至少盘查5名可疑人员、5辆可疑车辆。同时，根据辖区治安形势，分局进一步完善巡控措施，要求各派出所开展有警出警、无警巡逻的工作机制，使街面见警率和管事率大幅提高，有效挤压犯罪时空，促使辖区各类案件发案率持续下降。一年来，2015年，共接各类警情19478起，与去年同比下降10.4%，其中：立刑事案件1420起，同比下降17.2%，受理治安案件3034起，与去年同比下降9.6%。
                                    </p>
                                    <p>
                                        推进正规化管理，强化督导检查。为确保基层基础工作落实到位，分局严格按照“五条禁令”、“四个一律”、“内务管理条例”、“接处警管理规范”等相关法规制度，对派出所功能区进行划分改造，对接处警、执法办案、内务卫生、警容警纪、装备管理等进行明确要求，严格落实派出所办案区、办公区工作制度，确保办公室物品分类存放、整洁有序，保密纪律规范严谨，文件文档摆放整齐有序。同时，对值班、出警人员着装、佩戴装备、武器、警械进行明确规定，有效推进了执法正规化建设。同时，各值班局领导每天坚持对派出所工作开展情况、各项制度落实情况进行督导检查，对存在问题的单位及时通报、及时整改，有效推动派出所基层基础工作正规化管理。
                                    </p>
                                    <div class="post-opts">
                                        <p class="postby">供稿：<span style="color:#666">腾讯新闻</span></p>
                                        <p class="postby">编辑：<span style="color:#666">张三</span></p>
                                        <p class="post-time">2016.8.18</p>
                                        <p class="post-time">青海省警备司令部</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Blog Post End -->
                    </div>
                </div>
                <!-- Two Third Box End -->

            </div>
            <!-- One Third Box Start -->

        </div>
    </div>
    <!-- Content Section End -->
</div>
<!-- Wrapper End -->

