@{
    ViewBag.Title = "国防动员";
}

<link href="@Url.Content("~/Content/pagecss//frontpagecss/newscss/newsdetail.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/pagecss//frontpagecss/newscss/newsdetailred.css")" rel="stylesheet" type="text/css" media="all" />

<!-- Wrapper Start -->
<div id="outer_wrapper">
    <!-- Content Section Start -->
    <div id="contentsec">
        <div class="inner">
            <div class="twothird left">
                <!-- Two Third Box Start -->
                <div class="twothird box left">
                    <h2 class="widget-head-border colr"><b>习近平的健康观：以人民为中心 以健康为根本</b></h2>
                    <div class="blog">
                        <!-- Blog Post Start -->
                        <div class="post">
                            <div class="p-date">
                                <span>18</span>
                                <span>2016.08</span>
                            </div>
                            <div class="post-sec">
                                <div class="thumb" style="text-align: center">
                                    <a href="#">
                                        <img src="@Url.Content("~/Image/news/习近平主席.jpg")" alt="" /></a>
                                </div>
                                <div class="post-desc">
                                    <p>
                                        健康助力小康，民生牵着民心。
                                    </p>
                                    <p>
                                        “人民对美好生活的向往，就是我们的奋斗目标。”十八大以来，以习近平同志为总书记的党中央，把人民身体健康作为全面建成小康社会的重要内涵，从维护全民健康和实现国家长远发展出发，身体力行、率先垂范，正在铺设一条以人民为中心的“健康之路”。
                                    </p>
                                    <p>
                                        医疗卫生：“使全体人民享有更高水平的医疗卫生服务”
                                    </p>
                                    <p>
                                        2015年10月，十八届五中全会首次提出推进健康中国建设，“健康中国”上升为国家战略。事实上，“健康中国”已酝酿多年。
                                    </p>
                                    <p>
                                        在十八届中央政治局常委同中外记者首次见面会上，习近平总书记便表达出对人民健康福祉的密切关注：我们的人民热爱生活，期盼有更可靠的社会保障、更高水平的医疗卫生服务、更优美的环境……
                                    </p>
                                    <p>
                                        “没有全民健康，就没有全面小康”如今已成为一句流行语。这是2014年12月，总书记在考察江苏镇江市世业镇卫生院时提出的观点。他谈到，医疗卫生服务直接关系人民身体健康。要推动医疗卫生工作重心下移、医疗卫生资源下沉，推动城乡基本公共服务均等化，为群众提供安全有效方便价廉的公共卫生和基本医疗服务，真正解决好基层群众看病难、看病贵问题。
                                    </p>
                                    <p>
                                        解决“看病难、看病贵”这一老百姓的迫切期待，一直被总书记揣在心里。他多次在主持会议中强调医疗卫生改革的重要性，从破除公立医院逐利机制到推动建立分级诊疗制度，推进家庭医生签约服务，以期让老百姓在家门口能享受到便捷优质的医疗服务。
                                    </p>
                                    <p>
                                        维护人民群众健康，公共卫生是重要防线。2015年11月25日，在埃博拉出血热疫情防控工作表彰大会上，习近平强调，要始终把广大人民群众健康安全摆在首要位置，切实做好传染病防控和突发公共卫生事件应对工作。艾滋病防治也是总书记长期关注的领域，在第25个世界艾滋病日到来之际，习近平就来到北京市丰台区看望艾滋病患者，他指出：“防治艾滋病是一个复杂的医学问题，也是一个紧迫的民生问题、社会问题，需要全民参与、全力投入、全面预防。要从个人健康、家庭幸福、社会和谐的角度，看待艾滋病防治工作。”
                                    </p>
                                    <p>
                                        在导致贫困的诸多因素中，与健康、医疗相关的问题较为突出。今年6月21日，国家卫生计生委等15个中央部门联合发布《关于实施健康扶贫工程指导意见》。一直以来，党中央、国务院高度重视健康扶贫工作，在中央扶贫开发工作会议上，习近平总书记、李克强总理对健康扶贫工作作出了重要部署。中共中央、国务院《关于打赢脱贫攻坚战的决定》明确提出，要开展医疗保险和医疗救助脱贫，实施健康扶贫工程，保障农村贫困人口享有基本医疗卫生服务，努力防止因病致贫、因病返贫。
                                    </p>
                                    <div class="post-opts">
                                        <p class="postby">供稿：<span style="color: #666">腾讯新闻</span></p>
                                        <p class="postby">编辑：<span style="color: #666">张三</span></p>
                                        <p class="post-time">2016.8.18</p>
                                        <p class="post-time">青海省警备司令部</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Blog Post End -->
                    </div>
                </div>
                <!-- Two Third Box End -->

            </div>
            <!-- One Third Box Start -->

        </div>
    </div>
    <!-- Content Section End -->
</div>
<!-- Wrapper End -->

