@{
    ViewBag.Title = "MediaimpressDetail";
}

<link href="@Url.Content("~/content/pagecss/frontPageCss/mediaImpressCss/mediaimpDetail.css")" rel="stylesheet" type="text/css" media="all" />

<!-- Wrapper Start -->
<div class="container">
    <!-- Content Section Start -->

    <div class="title">
        <h2><b>中国空军12型装备将首次向社会公众展示</b></h2>

        <div class="thumb">
            <a href="#">
                <img src="~/Image/mediaimpress/s-1.jpg" alt="" />
            </a>
        </div>
        <div class="content">
            <p>从9月1日起，空军将在吉林长春举办“追梦空天”航空开放活动，届时将向全国公众免费开放。记者从昨天举行的空军航空开放活动媒体吹风会上获悉，此次展示武器装备共30余型，涵盖战斗机、教练机、特种机、运输机等。其中，轰-6K、空警-500等12型装备系首次对外展示。</p>

                                     <div class="last">
                                         <p class="postby">供稿：<span style="color: #666">admin</span></p>
                                         <p class="postby">编辑：<span style="color: #666">admin</span></p>
                                         <p class="post-time">2016.8.18</p>
                                         <p class="post-time">青海省警备司令部</p>
                                     </div>

        </div>
    </div>
</div>
<!-- Blog Post End -->

