.vedio {
    width: 1170px;
    margin: auto;
    margin-top: 10px;
}

/*播放器样式*/
li {
    list-style-type: none;
}
/* myplayer */

#myplayer {
    width: 100%;
    border: 1px #cccccc solid;
    clear: both;
    background: #ffffff;
    clear: both;
    height: 420px;
}

ul.mylist {
    width: 100%;
    text-align: left;
    font-size: 12px;
}

    ul.mylist li {
        padding: 1px 0;
        line-height: 24px;
        height: 24px;
        border-top: 1px #efefef solid;
    }

        ul.mylist li.on {
            background: #efefef;
        }

        ul.mylist li a,
        ul.mylist li a:link,
        ul.myllist li a:visited {
            padding: 0px 6px 0px 30px;
            overflow: hidden;
            line-height: 24px;
            height: 24px;
            display: block;
            text-decoration: none;
            color: #666666;
        }

            ul.mylist li a:hover {
                color: #cc0000;
            }

#CuPlayer {
    width: 875px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.list {
    width: 270px;
    float: left;
    margin-top: 10px;
}

    .list dl img {
        width: 70px;
        height: 50px;
        float: left;
    }

    .list dl strong {
        display: block;
        width: 190px;
        float: left;
        padding-left: 8px;
    }

    .list dl span {
        display: block;
        width: 190px;
        float: left;
        padding-left: 8px;
    }

    .list dl dt {
        width: 270px;
        float: left;
    }

        .list dl dt a {
            display: block;
            line-height: 18px;
            padding-top: 10px;
            border-bottom: 1px #cccccc solid;
            height: 65px;
            padding-top: 10px;
            color: #333;
            font-size: 12px;
            text-decoration: none;
        }

            .list dl dt a:hover {
                height: 65px;
                padding-top: 10px;
                text-decoration: none;
                background: #efefef;
            }


.video_classify {
    margin-top: 10px;
}

.video_classify_name {
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #D34346;
}

    .video_classify_name h3 {
        width: 6em;
        line-height: 50px;
        padding-left: 1em;
        color: white;
        background-color: #D34346;
    }

.more_video {
    text-align: right;
}

.video_img_list {
    width: 100%;
}

    .video_img_list table {
        width: 100%;
    }

    .video_img_list td {
        padding: 5px;
        width: 25%;
        height: 350px;
    }

.video_item {
    border: solid 1px #f7f7f7;
    box-shadow: 2px 2px 2px #808080;
}

.video_img {
    width: 100%;
    height: 300px;
    position: relative;
}

    .video_img img {
        width: 100%;
        height: 100%;
    }

.video_name {
    width: 100%;
    height: 50px;
    text-align: center;
}

.video_info {
    width: 100%;
    height: 40px;
}

.video_pull_time {
    width: 50%;
    height: 100%;
    padding: 5px;
    float: left;
}

.video_counts {
    width: 50%;
    height: 100%;
    float: left;
    padding: 5px;
    text-align: right;
}
