/* General ------------------------------------------------------------------------------------------------------------*/


  
  /* Articles List ------------------------------------------------------------------------------------------------------*/
  
body {
    background-color: #efefef;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.main-listing {
    margin-top:30px;
    padding-bottom:20px;
    padding-top:10px;
    background-color:#fff;
}

.main-listing p {
    margin-top:10px;
    font-size:18px;
    line-height:30px;
    text-indent:40px;
}
.main-listing a {
  color: #3b4348;
}

.main-listing a:hover {
  color: #ed5c5c;
}

.main-listing h3 {
    border-bottom: 2px solid #ed5c5c;
    padding-bottom: 7px;
}
/* Articles List ------------------------------------------------------------------------------------------------------*/


.hentry .post-meta {
  padding: 4px 3px 4px 0px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left:20px;
}
.hentry .post-meta > span {
  display: inline-block;
  padding-left: 22px;
  margin-right: 15px;
  line-height: 22px;
}
.post-title img {
      margin-right:20px;
}
.post-meta .category img{
  margin-right:10px;
}
.post-meta .date img{
  margin-right:10px;
}
.post-meta .comments img{
  margin-right:10px;
}



/*======Pagination=========*/
.pagination {
	padding:20px;
}
.pagination li {
	float:left;
	margin-right:5px;
	padding:5px 10px;
}
.pagination li a {
	color:#000000;
	font: 400 15px/20px 'bebas_neueregular',Arial,sans-serif;
}

.pagination li.current a, .pagination li:hover a{
	color:#b90000;
	text-decoration:underline;
}
