@charset "utf-8";
/*
=======================================================================
	General Rules
=======================================================================
*/

.quiz-form{
width:100%;
margin-top:20px;
}

.quiz-left{
	width:100%;
}
.quiz-right{
	width:100%;
}

.quiz-left input[type="text"]{
	width: 100%;
	font-size:14px;
	/*color: #c9c9c9;*/
	margin: 0 0px 23px 0;
	padding: 12px 10px;
	outline: none;
	border: 1px solid #e8e8e8;
	}
.quiz-right textarea{
	width: 100%;
	/*color: #c9c9c9;*/
	resize: none;
	font-size:14px;
	height: 185px;
	padding: 15px;
	outline: none;
	border: 1px solid #e8e8e8;
    margin-bottom:10px;
	}
.quiz-form input[type=submit] {
	color: #ffffff;
	padding: 20px 43px;
	font-size:14px;
	cursor: pointer;
	font-weight: 700;
	border: 3px solid #D34346;
	background: #D34346;
	width: 45%;
	margin-left: 30px;
    float:right;
	}

.quiz-form input[type=button] {
	color: #ffffff;
	padding: 20px 43px;
	font-size:14px;
	cursor: pointer;
	font-weight: 700;
	border: 3px solid #D34346;
	background: #D34346;
	width: 45%;
	margin-left: 30px;
    float:right;
	}


#right_list li {
    clear:both;
    list-style:disc;
}

#right_list li a {
   text-decoration:none;
   color:black;
}

#right_list li p {
   float:right
}

#right_list li:hover{
    clear:both;
    list-style:square;
    color:#1E90FF;
}

#right_list li a:hover{
    color:#1E90FF;
}


#right_list li {
    clear:both;
    list-style:disc;
}

#right_list {
    padding-top:20px;
}

#reply_detail li {
    clear:both;
    list-style:disc;
}

#reply_detail li a {
   text-decoration:none;
   color:black;
}

#reply_detail li p {
   float:right
}

#reply_detail li:hover{
    clear:both;
    list-style:square;
    color:#1E90FF;
}

#reply_detail li a:hover{
    color:#1E90FF;
}

.detail {
    margin-top:20px;
}

.detail p {
    text-align:justify;
    font-size:16px;
}

#reply_detail {
    padding-top:20px;
}

h2
{
    font-size:22px;
    padding-left: 20px;
}
.post .post-desc p {
    font-family:'Microsoft yahei', Arial, Helvetica, sans-serif;
	line-height:18px;
    text-indent: 2em;
    font-size:15px;
    color:black;
    text-align:justify;
}
.left {
	float:left !important;
    width:100%;
}
.right {
	float:right !important;
}

#right_title  {
    font-size:20px;
    font-weight:bold;
    border-bottom:2px solid #D34346;
    padding-bottom:15px;
}
.imgleft {
	float:left !important;
	margin:0px 15px 15px 0px;
}
.imgleft {
	float:left !important;
	margin:0px 15px 15px 0px;
}
.alignleft {
	float:left !important;
	margin:0px 15px 15px 0px;
}
.alignright {
	float:right !important;
	margin:0px 0px 15px 15px;
}
.aligncenter {
	display: block;
	margin: 0 auto;
}
.floatleft { 
	float:left;
}
.floatright { 
	float:right;
}
.heading {
	width:100%;
	float:left;
	color:#1e1e1e;
	padding:0px 0px 15px 0px;
}
input {
	font-size:11px;
}
textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666;
}
.itlc {
	font-style:italic;
}
.noback {
	background-image:none !important;
}
.noborder {
	border:none !important;
}
.nobotmarg {
	margin-bottom:0px !important;
}
.nopading {
	padding:0px !important;
}
.nopadingtop {
	padding-top:0px !important;
}
.nopadingbotm {
	padding-bottom:0px !important;
}
ul {
	list-style:none;
}
a.readmore {
	display:inline-block;
	color:#808080;
	padding:0px 0px 0px 10px;
	background:url(../images/readmore.png) no-repeat 0px 3px;
}
a.readmoredark {
	display:inline-block;
	padding:0px 0px 0px 10px;
	color:#4b4b4b !important;
	font-size:10px;
	background:url(../images/readmore-dark.png) no-repeat 0px 4px;
}
blockquote{
	width:100%;
	color:#484848;
	float:left;
	margin:15px 0px;
	line-height:18px;
	padding:0px 0px 0px 10px;
	border-left:#f1f1f1 solid 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
iframe {
	border:#d6d6d6 solid 1px;
}

/*
=======================================================================
	Outer Wrapper Rules
=======================================================================
*/
#outer_wrapper {
	width:100%;
    background-color:#efefef;
}
.inner {
	width:1170px;
	margin:0px auto;
	overflow:hidden;
    padding-left:15px;
    padding-right:15px;
}
/*
=======================================================================
	Header Rules
=======================================================================
*/
#top-bar {
	width:100%;
	padding:6px 0px 0px 0px;
	color:#FFF;
	background:url(../images/floral.png);
}
#top-bar a.togglebtn{
	color:#FFF;
	float:right;
	font-size:12px;
	height:25px;
	display:inline-block;
	margin:0px 0px 0px 15px;
	padding:0px 0px 0px 20px;
	font-family: 'Microsoft yahei', sans-serif;
	background:url(../images/down.png) no-repeat 0px 5px;
}
#top-bar p.text{
	float:right;
	height:25px;
}
/*
=======================================================================
	Stylesheet Switcher Rules
=======================================================================
*/
#top-bar .styles{
	float:left;
}
#top-bar .styles ul{
	float:left;
	padding:1px 0px 0px 0px;
}
#top-bar .styles ul li{
	float:left;
	padding-right:5px;
}
#top-bar .styles ul li a{
	float:left;
	width:16px;
	height:16px;
	display:inline-block;
}
#top-bar .styles ul li a.red{
	background:#a91d3b;
}
#top-bar .styles ul li a.blue{
	background:#005eb5;
}
#top-bar .styles ul li a.gray{
	background:#6d6d6d;
}
#top-bar .styles ul li a.orange{
	background:#df8300;
}
#top-bar .styles ul li a.green{
	background:#499400;
}
#top-bar .styles ul li a.orange-red{
	background:#dc5038;
}


/*
=======================================================================
	Header Rules
=======================================================================
*/
#header {
	width:100%;
	z-index:2;
	position:relative;
	height:100px;
	border-top:#595959 solid 1px;
	border-bottom:#373737 solid 1px;
	background:url(../images/header-bg.gif) repeat-x;
}
#header .inner{
	width:1000px;
	overflow:inherit;
}
.rays {
	width:100%;
	height:100px;
	background:url(../images/rays.png) no-repeat top center;
}

/*
=======================================================================
	Content Section Rules
=======================================================================
*/
#contentsec {
	width:100%;
	padding:20px 0px 0px 0px;
}
.box {
	border:#e6e6e6 solid 1px;
	background:#FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:20px;
}
.padbox {
	padding:20px 20px 0px 20px;
}


/*
=======================================================================
	Bread Crumb Rules
=======================================================================
*/
#bread-crumb {
	width:100%;
	height:48px;
	padding:0px 0px 0px 0px;
	background:url(../images/breadcrumb.gif) repeat-x top;
}
#bread-crumb ul{
	float:left;
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	background:url(../images/home.gif) no-repeat 0px 6px;
}
#bread-crumb ul li{
	float:left;
	height:21px;
	padding:6px 10px 0px 20px;
	background:url(../images/crumb-sep.png) no-repeat 0px 0px;
}
#bread-crumb ul li:first-child{
	padding-left:0px;
	background:none;
}
/*
=======================================================================
	SubPage Banner Rules
=======================================================================
*/
.subpage-banner {
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:3px;
}
/*
=======================================================================
	Blog Post Rules
=======================================================================
*/
.blog {
	width:100%;
	float:left;
}
.post {
	width:100%;
	float:left;
	position:relative;
	padding:20px 20px 20px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top:#e9e9e9 solid 4px;
}
.blog .post:first-child {
	padding:10px 20px 20px 0px;
	border:none;
}
.post .p-date{
	position:absolute;
	margin:4px 0px 0px 10px;
	/*text-align:right;*/
	width:200px;
	/*height:70px;*/
	color:#FFF;
	background-color:#D34346;
}

.p-date p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align:center;

}

.p-date p a{
    color: #ffffff;
    padding:5px 20px 5px 20px;

}

.post .p-date span{
	width:64px;
	display:inline-block;
	padding-right:15px;
	font-size:15px;
	font-weight:bold;
}
.post .p-date span:first-child{
	font-size:20px;
	padding:5px 15px 0px 0px;
	font-family: 'Microsoft yahei', sans-serif;
}
.post .post-sec{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	float:left;
	padding:0px 0px 0px 220px;
}
.post .post-head{
	width:100%;
	padding:0px 0px 10px 0px;
}
.post .post-head a{
	color:#1f2020;
}
.post .thumb{
	width:100%;
	border:#e6e6e6 solid 1px;
	background:#FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:20px;
	padding:3px;
	position:relative;
}
.post .thumb .thumb-hover{
	width:99%;
	height:auto;
	display:none;
	position:absolute;
	left:0;
	right:0;
	top:0px;
	bottom:0px;
	margin:3px;
	background:url(../images/black.png);
}
.post .thumb .thumb-actions{
	display:inline-block;
	width:100%;
	height:35px;
	top:50%;
	margin:-17px 0px 0px 0px;
	position:absolute;
	text-align:center;
}
.thumb-hover a{
	display:inline-block;
	width:35px;
	height:35px;
	margin:0px 3px 0px 3px;
}
.thumb-hover a.link{
	background:url(../images/link.png) no-repeat;
}
.thumb-hover a.zoom{
	background:url(../images/zoom.png) no-repeat;
}
.post .thumb:hover .thumb-hover{
	display:block;
}
.post .post-desc{
	width:100%;
	/*border-left:#d9d9d9 dotted 1px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*padding:0px 0px 0px 15px;*/
}
.post .post-opts{
	width:100%;
	float:left;
	border-top:#d9d9d9 dotted 1px;
	margin-top:10px;
	padding:10px 0px 0px 0px;
}
.post .post-opts p{
	float:left;
	padding:0px 15px 0px 0px;
}
.post .post-opts p.post-time{
	padding:0px 15px 0px 18px;
	background:url(../images/clock.png) no-repeat 0px 2px;
}
.post .post-opts p.tags{
	padding:0px 15px 0px 18px;
	background:url(../images/tags.png) no-repeat 0px 2px;
}
.post .post-opts a.comments-btn{
	float:right;
	width:35px;
	height:27px;
	padding:3px 0px 0px 0px;
	color:#FFF;
	font-size:14px;
	text-align:center;
	display:inline-block;
	background:url(../images/coments-bg.gif) no-repeat 0px 0px;
	font-family: 'Microsoft yahei', sans-serif;
}
.post .post-share{
	width:100%;
	float:left;
	border-top:#d9d9d9 dotted 1px;
	margin-top:10px;
	padding:10px 0px 0px 0px;
}
.post .post-share ul{
	width:100%;
	float:left;
}
.post .post-share ul li{
	float:left;
	padding:0px 10px 0px 0px;
}
.post .post-share ul li a{
	float:left;
	margin:0px 5px 0px 0px;
}

.colr																		{color:#a91d3b !important;}
.txthover:hover																{color:#a91d3b !important;}
.backcolr																	{background-color:#a91d3b !important;}
.backcolrhover:hover														{background-color:#a91d3b !important;}
.backcolrdark																{background-color:#a91d3b !important; background-image:url(../images/black.png);}
.bordercolr																	{border-color:#a91d3b !important;}
.bordercolrover:hover														{border-color:#a91d3b !important;}
/* Navigation */
.ddsmoothmenu ul li ul li ul li a:hover										{background-color:#a91d3b !important;}
.ddsmoothmenu ul li a:hover, 
.ddsmoothmenu ul li.current-menu-item a, .ddsmoothmenu ul li a.selected 	{background-color:#a91d3b;}

#header .search a.btn:hover, #header .search:hover a.btn					{background-color:#a91d3b;}

.wp-calendar ul.dates li:hover												{background:#a91d3b;}

/*
.post:hover .post-head a													{color:#a91d3b;}
.post:hover .p-date															{background-color:#363636;}
*/
.pagination ul li a:hover, .pagination ul li a.active						{color:#a91d3b;}

.tab-section .tab_menu_container a											{color:#a91d3b;}
.tags-box a:hover															{background-color:#a91d3b;}
.widget_categories ul li a:hover											{color:#a91d3b;}

#bread-crumb ul li a:hover													{color:#a91d3b;}

.single-event:hover .event-box .event-conts h4 a							{color:#a91d3b;}
.single-event:hover .event-date												{background-color:#a91d3b;}
.fc-event-skin																{background-color:#a91d3b;}
.fc-header 																	{background-color:#a91d3b;}

.sermons-post:hover .post-head a											{color:#a91d3b;}
.sermons-post:hover .p-date													{background-color:#a91d3b;}



/* pagination */
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 16px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}

/*------------------*/