@{
    ViewBag.Title = "基层工作列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/content/pagecss/GrassrootWork/grassrootWorkList.css")" rel="stylesheet" type="text/css" media="all" /> 

<div class="grassrootWorkList">
    <div>
        <div class="title">
        	<h4>城北区基层工作</h4>
        </div>
        
        <a href="#" class="list-group-item">
        	<table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
        <a href="#" class="list-group-item">
            <table>
            	<tr>
            		<td class="artcle_title"><h4>城北区基层工作</h4></td>
            		<td class="author">作者：XXX</td>
            		<td class="count">浏览次数：20次</td>
            		<td class="time">时间：2016-8-20：12:00</td>
            	</tr>
            </table>
        </a>
    </div>
    <div class="divcePage">
        <ul class="pagination pagination-lg">
          <li><a href="#">&laquo;</a></li>
          <li ><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>