body {
    background-color: #efefef;
}

.impress-grids{
    margin-top: 30px;
    background-color:#fff;
}

.impress-grids h3{
    border-bottom:2px solid #ed5c5c;
    padding-bottom:7px;

}
.army-left img{
	width:100%;
}
.army-top{
	margin-bottom:1.5em;
}
.army-left ul{
	padding:0;
	margin-top:2em;
}
.army-left ul li{
	list-style-image: url(~/Image/mediaimpress/arw.png);
  	margin: 0px 0px 12px 18px;
}
.army-left ul li a{
	color: black;
  	font-size: 16px;
  	font-weight: 400;
}
.army-left ul li a:hover{
	color:#a2a876;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

/*
.others-bottom {
  	margin-top: 3%;
}
.others-left img{
	width:100%;
}
.others-left h4{
	font-weight: 700;
  	font-size: 1.2em;
  	color: #484848;
  	text-align:center;
  	font-family: 'Roboto Slab', serif;
}
.others-left ul li{
	list-style-image: url(~/Image/mediaimpress/arw.png);
  	margin-top: 12px;
    margin-left:-10px;
}
.others-left ul li a{
	color: black;
  	font-size: 16px;
  	font-weight: 400;
}
.others-left ul li a:hover{
	color:#a2a876;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
    */
.nunc-bwn {
    margin: 20px 0px 30px 10%;
    float: right;
    padding-right: 20px;
}

    .nunc-bwn a {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background: #e45c5f;
        padding: 6px 16px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }

        .nunc-bwn a:hover {
            text-decoration: none;
            color: #fff;
            background: #999;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
        }


    .nunc-bwn a {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background: #e45c5f;
        padding: 6px 16px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }

        .nunc-bwn a:hover {
            text-decoration: none;
            color: #fff;
            background: #999;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
        }